# Python
__pycache__/
*.pyc

# Virtual env
venv/
ENV/

# Django
*.sqlite3
/staticfiles/
/media/

# OS
.DS_Store
Thumbs.db

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch