<!DOCTYPE html>
<html>
<head>
    <title>Trades</title>
</head>
<body>
    <h1>My Trades</h1>
    <table border="1">
        <tr>
            <th>Ticker</th>
            <th>Date</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Net Profit</th>
        </tr>
        {% for trade in trades %}
        <tr>
            <td>{{ trade.ticker }}</td>
            <td>{{ trade.date }}</td>
            <td>{{ trade.buy }}</td>
            <td>{{ trade.sell }}</td>
            <td>{{ trade.net_profit_loss }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No trades yet</td></tr>
        {% endfor %}
    </table>
</body>
</html>
